/* desk */

.all-cards {
    margin-left: 37px;
    margin-top: -131px;
}

.mobile {
    display: none;
}

.hidden {
    display: none;
}

.white-color {
    color: aliceblue;
}

#search-form {
    top: -33em;
    position: relative;
    width: 800px;
    z-index: 1;
}

#name {
    font-size: xx-large;
}

#search-i {
    margin-left: 8px;
    font-size: 34px;
    cursor: pointer;
}

#header {
    width: inherit;
    opacity: 0.5;
}

#copy-header {
    text-align: center;
    z-index: 1;
    position: relative;
    top: -41em;
}

#card-header {
    margin-bottom: 0em !important;
    text-align: end;
}

#map {
    height: 400px;
    width: 100%;
}

.sm-icon {
    font-size: 1em !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #copy-header {
        top: -26em!important;
    }

    #search-form {
        width: 290px;
        top: -22em;
    }

    #inlineFormCustomSelectPref {
        width: 46%;
    }

    form {
        margin-left: 1%;
    }

    .all-cards {
        margin-top: 5px;
        margin-left: -6px!important;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 990px) {
    #search-form {
        width: auto;
    }

    #copy-header {
        top: -18em!important;
        margin-top: 0px!important;
    }

    #search-form {
        top: -13em;
    }

    form {
        margin-left: 30px;
    }

    .all-cards {
        margin-top: 193px;
        margin-left: 76px;
    }
}


/* mobile */
@media only screen and (max-width: 992px) {
    .mobile {
        display: block;
    }

    .picture {
        margin-bottom: -345px;
    }

    .all-cards {
        margin-left: 12px;
    }

    body {
        position: relative;
        width: 100%;
    }

    #copy-header {
        margin-top: 234px;
    }

    #inlineFormCustomSelectPref {
        width: 56%;
    }

    #align-md {
        margin-left: 8%;
    }
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1024px) {
    #copy-header {
        margin-top: 100px;
    }

    .all-cards {
        margin-left: -14px;
        margin-top: -245px;
    }
}